@model B2S.Core.Entities.Expense

@{
    ViewData["Title"] = "Expense Details";
    ViewData["Name"] = "Expense";
    Layout = "~/Views/Shared/_B2SDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-usd";
}



<div class="row">
    <div class="col-md-9">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-body">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Category.CategoryName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Category.CategoryName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.ExpenseDate)
                        </dt>
                        <dd>
                            @Model.ExpenseDate.ToShortDateString()
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Amount)
                        </dt>
                        <dd>
                            @Model.Amount.ToString("#,##0.00")
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Reference)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Reference)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Receipt)
                        </dt>
                        <dd>
                            <a class="btn btn-primary btn-xs" href="@Url.Action("GetReceipt", "Expense", new { id = Model.ExpenseId })" target="_blank">
                                <i class="fa fa-file-text-o" title="Receipt"></i>
                            </a>
                        </dd>
                        
                    </dl>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model.ExpenseId" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" asp-route-id="@Model.ExpenseId" class="btn btn-default">Back to List</a>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <div class="col-md-3">
    </div>
</div>