@model B2S.Core.Utilities.PaginatedList<B2S.Core.Entities.Booking>
@{
    ViewData["Title"] = "Student Report";
    Layout = "~/Views/Shared/_B2SPagingIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-user-o";
    ViewData["Name"] = "Student Report";
    ViewData["IndexInfo"] = "";
    DateTime curFrom = ViewBag.CurrentFrom ?? DateTime.Today;
    DateTime curTo = ViewBag.CurrentTo ?? (new DateTime(curFrom.Year, curFrom.Month, DateTime.DaysInMonth(curFrom.Year, curFrom.Month))).AddMonths(2);
}

@section SearchBox {
    <form asp-action="Index" id="formSearch" method="get" class="form-horizontal" role="form">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group pull-right" id="boot-search-box">
                    <label class="control-label">Search</label>
                    <input type="text" class="form-control search-box-style" name="Search" value="@ViewData["CurrentSearch"]" placeholder="Search by name, phone, email" />
                    @*<div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <div class="dropdown dropdown-lg">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <div class="form-group">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </div>
                        </div>*@
                </div>

            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">From</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input name="currentFrom" id="currentFrom" value="@curFrom.ToShortDateString()" class="form-control pull-right datepicker" type="text" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">To</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input name="currentTo" id="currentTo" value="@curTo.ToShortDateString()" class="form-control pull-right datepicker" type="text" />
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-top:25.4px">
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Search" />
                </div>
            </div>
        </div>
    </form>
}
<table class="table table-hover table-striped" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayName("Student Name")
            </th>
            <th>
                @Html.DisplayName("Gender")
            </th>
            <th>
                @Html.DisplayName("Phone")
            </th>
            <th>
                @Html.DisplayName("Email")
            </th>
            <th>
                @Html.DisplayName("Booking Date")
            </th>
            <th>
                @Html.DisplayName("Booking Information")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="tools">
                        <a onclick="ShowPopup('@Url.Action("Details", "StudentReport", new { id = item.BookingId})')" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                    </div>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @item.Gender.ToString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <strong>From:</strong> @item.BookingFrom.ToShortDateString() <br />
                    <strong>To:</strong> @item.BookingTo.ToShortDateString()
                </td>
                <td>
                    <strong>Property:</strong> @item.Bed.Room.Building.Property.PropertyName | @item.Bed.Room.Building.Name <br />
                    <strong>Room Type:</strong> @item.Bed.Room.RoomType?.RoomTypeName | <strong>Room:</strong> @item.Bed.Room.RoomName | <strong>Bed:</strong> @item.Bed.Name
                </td>
            </tr>
        }
    </tbody>
</table>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var paginationHidden = Model.TotalPages == 1 ? "hidden" : "";
}

<ul class="pagination pull-right @paginationHidden">
    <li>
        <a asp-action="Index"
           asp-route-page="@(Model.PageIndex - 1)"
           asp-route-search="@ViewData["CurrentSearch"]"
           asp-route-currentFrom="@ViewData["currentFrom"]"
           asp-route-currentTo="@ViewData["currentTo"]"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
    </li>
    @if (Model.TotalPages <= 11)
    {
        @for (var p = 1; p <= Model.TotalPages; p++)
        {
            var currentDisabled = Model.PageIndex == p ? "disabled" : "";
            <li><a href="@Url.Action("Index", new { page = p, search = ViewData["CurrentSearch"], currentFrom = ViewData["CurrentFrom"], currentTo = ViewData["CurrentTo"] })" class="btn btn-default @currentDisabled">@p</a></li>
        }
    }
    else
    {

        int firstIndex = (Model.PageIndex % 10) == 0 ? (Model.PageIndex / 10 - 1) * 10 + 1 : (Model.PageIndex / 10) * 10 + 1;

        for (int p = firstIndex; p <= Math.Min(firstIndex + 9, Model.TotalPages - 1); p++)
        {
            var currentDisabled = Model.PageIndex == p ? "disabled" : "";
            <li><a href="@Url.Action("Index", new { page = p, search = ViewData["CurrentSearch"], currentFrom = ViewData["CurrentFrom"], currentTo = ViewData["CurrentTo"] })" class="btn btn-default @currentDisabled">@p</a></li>
        }

        if (firstIndex + 10 < Model.TotalPages)
        {
            <li><span class="disabled">...</span></li>
        }
        <li><a href="@Url.Action("Index", new { page = Model.TotalPages, search = ViewData["CurrentSearch"], currentFrom = ViewData["CurrentFrom"], currentTo = ViewData["CurrentTo"]})" class="btn btn-default @nextDisabled">@Model.TotalPages</a></li>
    }

    <li>
        <a asp-action="Index"
           asp-route-page="@(Model.PageIndex + 1)"
           asp-route-search="@ViewData["CurrentSearch"]"
           asp-route-currentFrom="@ViewData["currentFrom"]"
           asp-route-currentTo="@ViewData["currentTo"]"
           class="btn btn-default @nextDisabled">
            Next
        </a>
    </li>
</ul>

<!--modal placeholder-->
<div class="modal modal-primary fade" id="modalDefault">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $("#formSearch").submit(function (e) {
            //check if start date is less than end date
            let startDate = $("#currentFrom").val();
            let endDate = $("#currentTo").val();
            let partStrDate = startDate.split('/');
            let partEndDate = endDate.split('/');
            let strDateJS = new Date(partStrDate[2], partStrDate[0] - 1, partStrDate[1]);
            let endDateJS = new Date(partEndDate[2], partEndDate[0] - 1, partEndDate[1]);
            if (endDateJS < strDateJS) {
                e.preventDefault();
                ShowMessageError("Start date must be less than end date");
            }
        })

        function ShowPopup(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url, function (response) {
                modalPlaceholder.html(response);
                popup = $('#' + modalId + '').modal({
                    keyboard: false,
                    backdrop: 'static'
                });

            })
        }
    </script>
}