@model IEnumerable<B2S.Core.Entities.EmailTemplate>

@{
    ViewData["Title"] = "Email Templates";
    Layout = "~/Views/Shared/_B2SIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-envelope-o";
    ViewData["Name"] = "Email Template";
    ViewData["IndexInfo"] = "Create an email template. If you need any help, please contact admin@crmplus.cloud.";
}

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.TemplatName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="tools">
                    <a asp-action="Edit" asp-route-id="@item.EmailTemplateId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                    <a asp-action="Details" asp-route-id="@item.EmailTemplateId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.EmailTemplateId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemplatName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>          
        </tr>
        }
    </tbody>
</table>
